@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 4px; /* Space between dots */
    width: 60%; /* Adjust width to fit within the circle */
    height: 60%; /* Adjust height to fit within the circle */
    position: absolute; /* Position inside the parent container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the grid */
  }
  
  .dot {
    width: 4px; /* Size of each dot */
    height: 4px; /* Size of each dot */
    background-color: #bfdbfe; /* Dot color */
    border-radius: 50%; /* Make the div a circle */
  }
  

  
  
